{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}
{% block content %}

<div class="container ">
   <h2 class="text-center">Login</h2>

        <div class="col-md-4 mx-auto">

        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

        <h6>Username</h6>
            <div class="mb-3 mt-2 ">

                <input class="form-control form-control-lg rounded" type="text" name="login" placeholder="Username" autocomplete="username" maxlength="100" required="" id="id_login">
            </div>

            <h6 >Password</h6>
            <div class="mb-3 mt-2">

                <input class="form-control form-control-lg rounded" type="password" name="password" placeholder="Password" autocomplete="current-password" maxlength="100" required="" id="id_password">
            </div>

            <label  for="id_remember" class="form-check-label active mr-2 mb-3"><h6> Remember Me </h6> </label>
            <input  type="checkbox" class="form-check-inline" name="remember" id="id_remember">

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

          {% if form.non_field_errors %}
            <div class=" text-danger font-weight-bold">{{ form.non_field_errors }}</div>
          {% endif %}
          {% for field in form %}
            {% if field.errors %}
              <li class="navbar-nav">
                <div class="text-danger font-weight-bold">{{ field.label }} :</div>
                <div class="errorlist navbar-nav">
                  {% for error in field.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
              </li>
                <br>
            {% endif %}
          {% endfor %}

            <div class="input-group">
            <button type="submit" class="btn btn-dark btn-block rounded mb-1 ">Login</button>
            <a type="button" class="btn btn-primary btn-block rounded " href="{% url 'account_reset_password' %}">Password Recovery</a>

                <div class="mt-4">
                 <h6 class="d-inline mr-5">Don't have an account? </h6> <a  href={% url 'account_signup' %}> Register Here</a>
                </div>
            </div>
        </form>
    </div>
    </div>
    <br><br>

{% endblock %}