{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Logout" %}{% endblock %}
{% block content %}


    <div class="container">
             <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Log out</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Log out</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <br><br>


        <div class="col-md-4 mx-auto" >

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <h4 class="my-xl-5">Are You Sure?</h4>
                <br><br>
                <div class="input-group">
                <button  class="btn btn-danger btn-block rounded px-4 " type="submit">Yes Log Me Out!</button>
                <a  class="btn btn-primary btn-block rounded " href='/'>No, Take Me Home</a>

                </div>
            </form>
        </div>
    </div>
    <br><br><br>
{% endblock %}