{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Logout" %}{% endblock %}
{% block content %}


    <div class="container">
        <h3 class="text-center">Logout</h3>


        <div class="col-md-4 mx-auto" >

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
{#                {% if redirect_field_value %}#}
{#                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
{#                {% endif %}#}
                <h4 class="my-xl-5">Are You Sure?</h4>
                <br><br>
                <div class="input-group">
                <button  class=" btn btn-dark btn-block rounded px-4 " type="submit">Yes Log Me Out!</button>
                <a  class="btn btn-primary btn-block rounded " href='/'>No, Take Me Home</a>

                </div>
            </form>
        </div>
    </div>
    <br><br><br>
{% endblock %}