{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-holder">

<div class="container">
    <section class="pt-5">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
            <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
        </header>
        <div class="row">
        {% for category in categories %}
            <div class="col-md-4 mb-4 mb-md-3"><a class="category-item" href="shop.html">
                <img class="img-fluid w-100 rounded"  src={{ category.image.url }} alt="">
                <strong class="category-item-title">{{ category.name }}</strong></a>
            </div>

            {% endfor %}
        </div>
    </section>
    <!-- TRENDING PRODUCTS-->
    <section class="py-5">
        <header>
            <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
            <h2 class="h5 text-uppercase mb-4">Products</h2>
        </header>

            <!-- PRODUCT-->
            <div id="productlist" class="row">
{#AJAX-generated#}
        </div>

        <div class="text-center ">
        <button id="pr-loadmore" class="btn btn-dark rounded " style="width: 50%">Load More </button>
        </div>

    {#pagination#}
    {#TODO: fix pagination scroll to top#}
{#    {% if is_paginated %}#}
{#            <nav class="d-flex justify-content-center wow  fadeIn ">#}
{#                <ul class="pagination primary mb-0">#}
{##}
{#                    <!--Arrow left-->#}
{#                    {% if page_obj.has_previous %}#}
{#                    <li class="page-item ">#}
{#                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">#}
{#                            <span aria-hidden="true">&laquo; </span>#}
{#                            <span class="sr-only">Previous</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    {% endif %}#}
{#                    <li class="page-item active">#}
{#                        <a class="page-link ">#}
{#                            <span >{{ page_obj.number }}</span>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                    {% if page_obj.has_next %}#}
{#                    <li class="page-item ">#}
{#                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">#}
{#                            <span aria-hidden="true">&raquo;</span>#}
{#                            <span class="sr-only">Next</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </nav>#}
{#        {% endif %}#}
    </section>
    <!-- SERVICES-->
{#    <section class="py-5 bg-light">#}
{#        <div class="container">#}
{#            <div class="row text-center">#}
{#                <div class="col-lg-4 mb-3 mb-lg-0">#}
{#                    <div class="d-inline-block">#}
{#                        <div class="media align-items-end">#}
{#                            <svg class="svg-icon svg-icon-big svg-icon-light">#}
{#                                <use xlink:href="#delivery-time-1"></use>#}
{#                            </svg>#}
{#                            <div class="media-body text-left ml-3">#}
{#                                <h6 class="text-uppercase mb-1">Free shipping</h6>#}
{#                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 mb-3 mb-lg-0">#}
{#                    <div class="d-inline-block">#}
{#                        <div class="media align-items-end">#}
{#                            <svg class="svg-icon svg-icon-big svg-icon-light">#}
{#                                <use xlink:href="#helpline-24h-1"></use>#}
{#                            </svg>#}
{#                            <div class="media-body text-left ml-3">#}
{#                                <h6 class="text-uppercase mb-1">24 x 7 service</h6>#}
{#                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4">#}
{#                    <div class="d-inline-block">#}
{#                        <div class="media align-items-end">#}
{#                            <svg class="svg-icon svg-icon-big svg-icon-light">#}
{#                                <use xlink:href="#label-tag-1"></use>#}
{#                            </svg>#}
{#                            <div class="media-body text-left ml-3">#}
{#                                <h6 class="text-uppercase mb-1">Festival offer</h6>#}
{#                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

</div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

    $(document).on('click', '.wish', function (e) {
        e.preventDefault()
        const url = $(this).attr('href')
        const item_id = $(this).attr('id')
        $.ajax({
                url: url,
                success: function (data) {

                if (data.added_to_wishlist === true) {
                    $('#'+item_id).html(`<i class="fa fa-heart text-danger "></i>`)

                }
                else if (data.added_to_wishlist === false){
                    $('#'+item_id).html(`<i class="far fa-heart text-dark  "></i>`)
                    }
                else {
                    const login =  window.confirm('YOU MUST BE LOGGED IN, LOGIN NOW?')
                    if(login) {
                      window.location.href = 'accounts/login'
                        }

                }
            }

        }
    )
})


{#product laoder with back-end function#}
        let display = 8 //initial loaded number of items
     $.ajax({
        type: 'GET',
        url: `/ajax_load_products/${display}`,
        data:{
            'display':display
        },
        success: function(data) {
            $('#productlist').html(data)
        }
    })


        $('#pr-loadmore').on('click',()=>{
        display += 4
        $.ajax({
        type: 'GET',
        url: `/ajax_load_products/${display}`,
        data:{
            'display':display
        },
            success: function(data) {
                $('#productlist').html(data)
            }
    })

    })


    </script>
{% endblock %}
