{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<div class="page-holder">

<div class="container">
    <section class="pt-2">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
            <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
        </header>
        <div class="row">
        {% for category in categories %}
            {% if category.image %}
            <div class="col-md-4 mb-4 mb-md-3"><a class="category-item" href="{{ category.get_cat_view_url }}">
                <img class="img-fluid w-100 rounded"  src='{{ category.image.url }}' alt="{% static 'img/template-mac' %}">
                <strong class="category-item-title">{{ category.name }}</strong></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- TRENDING PRODUCTS-->
    <section class="py-5">
    <header>
        <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
        <h2 class="h5 text-uppercase mb-4">Products</h2>
    </header>

        <!-- PRODUCT-->
        <div  id="productlist" class="row">
        {#AJAX-generated#}
{% for item in items %}
            <div class="prods col-xl-3 col-lg-4 col-sm-6  ">
                <div class="product text-center">
                    <div class="position-relative mb-3">
                        <div class="badge text-white badge-">
                        </div>
                        <a class="d-block" href={% url 'core:product_detail' item.slug %}>
                            <img class="img-fluid w-100 rounded" src={{ item.image.url }} alt="...">
                        </a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">

                          <li class="list-inline-item m-0 p-0">
                              <a class="wish btn-lg "  id="id{{ item.pk }}"  href={% url 'core:add_remove_to_wishlist' item.slug %} >
                                  {% if request.user in item.wishlist.iterator %}
                                    <i data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Remove from wishlist" class="fa fa-heart text-danger"></i>
                                  {% else %}
                                     <i data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Add to wishlist" class="far fa-heart text-dark"></i>
                                  {% endif %}
                              </a>
                          </li>
{#                                <li class="list-inline-item m-0 p-0">#}
{#                                    <a class="btn btn-sm btn-dark" href="{{ item.get_add_to_cart_url }}">Add to cart</a>#}
{#                                </li>#}
                                <li class="list-inline-item mr-0">
                                    <a class="btn btn-sm btn-outline-dark" href={% url 'core:product_detail' item.slug %}>
                                        <i class="fas fa-expand"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="Product_detail.html">{{ item.title}}</a></h6>
                    <p class="small text-muted">${{ item.price }}</p>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="text-center ">
        <button id="pr-loadmore" class="btn btn-dark rounded " style="width: 50%">Load More </button>
        </div>

    {#pagination#}

{#    {% if is_paginated %}#}
{#            <nav class="d-flex justify-content-center wow  fadeIn ">#}
{#                <ul class="pagination primary mb-0">#}
{##}
{#                    <!--Arrow left-->#}
{#                    {% if page_obj.has_previous %}#}
{#                    <li class="page-item ">#}
{#                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">#}
{#                            <span aria-hidden="true">&laquo; </span>#}
{#                            <span class="sr-only">Previous</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    {% endif %}#}
{#                    <li class="page-item active">#}
{#                        <a class="page-link ">#}
{#                            <span >{{ page_obj.number }}</span>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                    {% if page_obj.has_next %}#}
{#                    <li class="page-item ">#}
{#                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">#}
{#                            <span aria-hidden="true">&raquo;</span>#}
{#                            <span class="sr-only">Next</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </nav>#}
{#        {% endif %}#}
    </section>
    <!-- SERVICES-->
{#    <section class="py-5 bg-light">#}
{#        <div class="container">#}
{#            <div class="row text-center">#}
{#                <div class="col-lg-4 mb-3 mb-lg-0">#}
{#                    <div class="d-inline-block">#}
{#                        <div class="media align-items-end">#}
{#                            <svg class="svg-icon svg-icon-big svg-icon-light">#}
{#                                <use xlink:href="#delivery-time-1"></use>#}
{#                            </svg>#}
{#                            <div class="media-body text-left ml-3">#}
{#                                <h6 class="text-uppercase mb-1">Free shipping</h6>#}
{#                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 mb-3 mb-lg-0">#}
{#                    <div class="d-inline-block">#}
{#                        <div class="media align-items-end">#}
{#                            <svg class="svg-icon svg-icon-big svg-icon-light">#}
{#                                <use xlink:href="#helpline-24h-1"></use>#}
{#                            </svg>#}
{#                            <div class="media-body text-left ml-3">#}
{#                                <h6 class="text-uppercase mb-1">24 x 7 service</h6>#}
{#                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4">#}
{#                    <div class="d-inline-block">#}
{#                        <div class="media align-items-end">#}
{#                            <svg class="svg-icon svg-icon-big svg-icon-light">#}
{#                                <use xlink:href="#label-tag-1"></use>#}
{#                            </svg>#}
{#                            <div class="media-body text-left ml-3">#}
{#                                <h6 class="text-uppercase mb-1">Festival offer</h6>#}
{#                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

</div>
</div>
    <script>

    </script>

{% endblock %}
