{% load socialaccount %}
{% load static %}
{% load tags %}

<!-- Login modal-->
<div id="modalLogin" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title mx-auto">LOGIN</h4>
			</div>
			<div class="modal-body">
				<!-- Login form -->
				<div class="col-12 mx-auto">

					<form class="login" method="POST" action="{% url 'account_login' %}">
						{% csrf_token %}

						<h6>Username</h6>
						<div class="mb-3 mt-2 ">

							<input class="form-control form-control-lg rounded-pill shadow" type="text"
								   name="login"
								   placeholder="Username" autocomplete="username" maxlength="100" required=""
								   id="id_login">
						</div>

						<h6>Password</h6>
						<div class="mb-3 mt-2">

							<input class="form-control form-control-lg rounded-pill shadow" type="password"
								   name="password"
								   placeholder="Password" autocomplete="current-password" maxlength="100"
								   required="" id="id_password">
						</div>

						<label for="id_remember" class="form-check-label active mr-2 mb-3"><h6> Remember
							Me </h6></label>
						<input type="checkbox" class="form-check-inline" name="remember" id="id_remember">

						{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}"
								   value="{{ redirect_field_value }}"/>
						{% endif %}

						{% if form.non_field_errors %}
							<div class=" text-danger font-weight-bold">{{ form.non_field_errors }}</div>
						{% endif %}
						{% for field in form %}
							{% if field.errors %}
								<li class="navbar-nav">
									<div class="text-danger font-weight-bold">{{ field.label }} :</div>
									<div class="errorlist navbar-nav">
										{% for error in field.errors %}
											{{ error }}
										{% endfor %}
									</div>
								</li>
								<br>
							{% endif %}
						{% endfor %}

						<div class="input-group">
							<button type="submit" class="btn btn-dark btn-block rounded-pill mb-1 shadow">
								Login
							</button>
							<a type="button" class="btn btn-primary btn-block rounded-pill shadow"
							   href="{% url 'account_reset_password' %}">Password Recovery</a>


						</div>
					</form>
					<br>
					<div class="d-flex">
						<span class="font-weight-bold">Don't have an account? </span>
						<a class="ml-auto mr-1 text-decoration-none" href={% url 'account_signup' %}> Register Here</a>
					</div>
					<h6 class="text-center my-3">OR</h6>
					<a class="btn btn-block btn-grey rounded-pill shadow"
					   href="{% provider_login_url 'google' %}">Login with Google <i
							class="fab fa-google text-danger ml-2"></i></a>
				</div>

			</div>
			<div class="modal-footer ">
				<button id="modalClose" type="button"
						class="btn btn-block btn-danger mx-auto rounded-pill col-11 shadow"
						data-dismiss='modal'>Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Logout modal-->
<div id="modalLogout" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title mx-auto">Logout</h4>
			</div>
			<div class="modal-body">
				<!-- Logout form -->
				<form class="col-10 mx-auto" method="post" action="{% url 'account_logout' %}">
					{% csrf_token %}
					{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}"
							   value="{{ redirect_field_value }}"/>
					{% endif %}
					<h4 class="my-xl-5">Are You Sure?</h4>
					<br><br>
					<div class="input-group">
						<button class="btn btn-dark btn-block rounded-pill px-4" type="submit">Log Out</button>
						<button class="mx-auto btn btn-primary btn-block rounded-pill  mt-2"
								data-dismiss='modal'>Close
						</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>


	<div class="sidebar">
			<ul id="side"style="display: none">
				<li class=""><a class="" href="{% url 'core:home' %}">Homepage</a></li>
				<hr>
				<li class=""><a class="mr-3" href={% url 'core:shop_view' %}>Shop</a></li>
				{% if request.user.is_authenticated %}
				<hr>
				<li class=""><a class=""
						   href="{% url 'core:checkout' user.userprofile.pk %}">Checkout</a>
				</li>
				{% endif %}
			</ul>
	<div id="toggle-icon-close" class="toggle-close position-absolute"><i class="fas fa-window-close fa-2x text-danger"></i></div>
	</div>

<header class="header bg-white sticky-top py-3">
	<div id="toggle-icon" class="toggle position-absolute"><i class="fas fa-bars fa-2x text-dark"></i></div>
	<nav class="c-nav container d-flex justify-content-between align-items-center py-1 pb-2">

		<div class="nav-left d-flex list-unstyled align-items-center">
			<li class="">
				<!-- Link--><a class="mr-3 text-danger letter-spacing-1 " href="/"><h3 class="my-0 py-0 d-inline">FSTORE</h3></a>
			</li>
			<li class="c-link">
				<!-- Link--><a class="mr-3" href={% url 'core:shop_view' %}>Shop</a>
			</li>

			<li class="c-link nav-item dropdown">
				<a class="dropdown-toggle" id="pagesDropdown" href="#"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages
				</a>
				<div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
					<a class="dropdown-item border-0 transition-link" href="{% url 'core:home' %}">Homepage</a>
					{% if request.user.is_authenticated %}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item border-0 transition-link"
						   href="{% url 'core:checkout' user.userprofile.pk %}">Checkout</a>
					{% endif %}
				</div>
			</li>

		</div>

		<!-- Live search-->
		<div id="searchForm" class="c-search result z-index-50 col-xl-7 col-md-5" style="align-self: center" tabindex="1"
			 url={% url 'core:search' %}>

			<form method="post" action={% url 'core:search' %}>
				{% csrf_token %}
				<div class="input-group">

					<input id="search" name="searchTxt" class="form-control rounded-left mb-1 text-left"
						   autocomplete="off"
						   placeholder="Search" type="text">
					<div class="input-group-append">
						<button id="searchBtn" class="btn-sm alert-dark rounded-right mb-1 px-4" disabled
								type="submit" style="border: 0"><i class="fa fa-search"></i></button>
					</div>
				<div id="search-results" class="card rounded position-absolute shadow-sm z-index-50"
				 style="display: none; width: 100% ;top: 40px">
				<div id="spinnerSearch" class="spinner-border my-3 mx-auto" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
				</div>
			</form>

		</div>

		<!-- Right nav-->
	<div class="nav-right d-flex list-unstyled align-items-center">

		<li class="c-link mr-2">
			<a class="" href={% url 'core:cart_view' %}>
				<i class="fas fa-dolly-flatbed text-info"></i>
				{% if request.user.is_authenticated %}
					<span class="text-danger mx-1">({{ request.user|count_order }})</span>
				{% else %}
					<span class="text-grey">( 0 )</span>
				{% endif %}
			</a>
		</li>
		<li>

			{% if request.user.is_authenticated %}
				<div class="nav-item dropdown">

					<a class="dropdown-toggle px-0" id="pagesDropdown" href="#" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">
						{% if user.userprofile.profile_pic %}
							<img class="rounded mx-1" width="25px" height="25px"
								 src={{ user.userprofile.profile_pic.url }} alt="">
						{% endif %}
					</a>

					<div class="dropdown-menu mt-3 mr-5" aria-labelledby="pagesDropdown">
						<div class="dropdown-item font-weight-bold">Welcome
							{{ user.userprofile.firstname.title }}
						</div>
						<div class="dropdown-divider"></div>

						<a class="dropdown-item border-0 transition-link"
						   href={{ user.userprofile.get_profile_update_url }}>
							<i class="fas fa-user-alt mr-1 text-dark"></i>
							profile
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item c-link-hidden mr-2" href={% url 'core:cart_view' %}>
							<i class="fas fa-dolly-flatbed text-info"></i>
							<span class="text-danger mx-1">({{ request.user|count_order }})</span>
						</a>
						<div class="dropdown-divider c-link-hidden"></div>
						<a class="dropdown-item" href={% url 'core:purchase_history' %}>
							<i class="fas fa-dolly-flatbed mr-1 text-dark"></i>
							Purchase History
						</a>
						<div class="dropdown-divider"></div>

						<a class="dropdown-item border-0 transition-link" href={% url 'user_wishlist' %}>
							<i class="far fa-heart text-danger mr-1 mb-0"></i> <span
								class="text-danger ml-2">({{ request.user|count_wishlist }})</span>
						</a>

						<div class="dropdown-divider"></div>

						<a id="logOut" class="dropdown-item border-0 transition-link"
						   href={% url 'account_logout' %}>
							Logout
						</a>
					</div>

				</div>
			{% else %}
				<a id="login"
				   href={% url 'account_login' %}>
					<i class="pr-1 fas fa-user-alt text-success"></i>
					Login
				</a>
			{% endif %}
		</li>

	</div>


	</nav>


	<hr class="container mt-0">
	{#	<br>#}
</header>
