{% extends 'base.html' %}
{% block head_title %}
Order overview

{% endblock %}

{% block content %}


<div class="container">
<section class="py-5 mb-5 bg-light">
    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">Order overview</h1>
    </div>
    <div class="col-lg-6 text-lg-right">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
             <li class="breadcrumb-item " aria-current="page"><a
                href={% url 'core:cart_view' %}>Cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order overview</li>
        </ol>
        </nav>
    </div>
    </div>

</section>
    <div class="row">
      <!-- CART TABLE-->

        <div class="table-responsive mb-4 col-lg-8">
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">#</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Product</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
              <th class="border-0" scope="col"> </th>
            </tr>
          </thead>
          <tbody>

          {% if cart.items%}
           {% for item in cart.items.all %}
            <tr class="border-bottom solid primary-color">
             <td class="align-middle border-0">
                <p class="mb-0  "><span class="text-success"></span>{{forloop.counter}} </p>
              </td>
              <th class="pl-0 border-0" scope="row">
                <div class="media align-items-center"><a class="reset-anchor d-block animsition-link" href="{{ item.item.get_item_detail_url }}"><img src={{ item.item.image.url }} alt="..." width="70"/></a>
                  <div class="media-body ml-3"><strong class="h6"><a class="reset-anchor animsition-link" href="{{ item.item.get_item_detail_url }}">{{ item.item.title }}</a></strong></div>
                </div>
              </th>
              <td class="align-middle border-0">
                <p class="mb-0 small "><span class="text-success">$</span>{{item.item.price}}</p>
              </td>
              <td class="align-middle border-0">
                <span class="px-3">
                     {{item.quantity}}
                </span>
              </td>
              <td class="align-middle border-0">
                <p class="mb-0 small">${{ item.total_price }}</p>
              </td>
              <td class="align-middle border-0">
              </td>

            </tr>

              {% endfor %}
          {% else %}

          {% endif %}
          </tbody>
        </table>
        </div>
        <!-- ORDER TOTAL-->
      <div class="container col-lg-4 mb-4">
      <div class="card border-0 rounded-0 p-lg-4 bg-light">
        <div class="card-body">
          <h5 class="text-uppercase mb-4">Cart total</h5>
          <ul class="list-unstyled mb-0">


            <li class="border-bottom my-2"></li>
            <li class="d-flex align-items-center justify-content-between mb-4"><strong class="text-uppercase small font-weight-bold">Total</strong><span class="text-success">${{ cart.get_total_order_price }}</span></li>
            <li>

            <div id="paypal-button-container"></div>


            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
     <!-- purchase Modal -->
    <div id="alertModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">Success</h5>
                </div>
                <div class="modal-body text-center text-small">
                <h6>Your Purchase was successful</h6>
                </div>
            <div class="text-center my-3" >
                <a id="itemDelete" type="button" class="btn btn-dark mx-auto rounded col-5 shadow" href={% url 'core:home' %}>OK</a>
            </div>
        </div>
        </div>
    </div>
</div>
{% csrf_token %}

    <script src="https://www.paypal.com/sdk/js?client-id=AZ_7Fd70zEjq-g7TEij4cypBB0a88KZICUG1PG5OGRDE3lmmdTC-6w2xqbRIHpziAdpg_J72UosfWb5C&currency=USD"></script>

    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const cart_pk = '{{cart.pk}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
             style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{cart.get_total_order_price}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                         $.ajax({
                             type: 'Post',
                             url: `{% url 'core:paypal_checkout' cart.pk %}`,
                              headers:{
                                    'X-CSRFToken': csrftoken
                             },

                                     });
                        {#fetch('{% url 'core:paypal_checkout' cart.pk %}',{#}
                            // method: 'POST',
                            // headers:{
                                  //  'Content-type':'application-json',
                                   // 'X-CSRFToken': csrftoken
                           //  },
                           //  body:JSON.stringify({'cart_id':cart_pk})
                      //   })
                    {#alert('Transaction completed by ' + details.payer.name.given_name + '!');#}
                    $('#alertModal').modal('show')
                })

            },


        }).render('#paypal-button-container');
    </script>

{% endblock %}