
{% if items %}
{% for item in items %}

            <div class="prods col-xl-3 col-lg-4 col-sm-6  ">
                <div class="product text-center">
                    <div class="position-relative mb-3">
                        <div class="badge text-white badge-">
                        </div>
                        <a class="d-block" href={% url 'core:product_detail' item.slug %}>
                            <img class="img-fluid w-100 rounded" src={{ item.image.url }} alt="...">
                        </a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">

                          <li class="list-inline-item m-0 p-0">
                              <a class="wish btn-lg "  id="id{{ item.pk }}"  href={% url 'core:add_remove_to_wishlist' item.slug %} >
                                  {% if request.user in item.wishlist.iterator %}
                                    <i data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Remove from wishlist" class="fa fa-heart text-danger"></i>
                                  {% else %}
                                     <i data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Add to wishlist" class="far fa-heart text-dark"></i>
                                  {% endif %}
                              </a>
                          </li>
{#                                <li class="list-inline-item m-0 p-0">#}
{#                                    <a class="btn btn-sm btn-dark" href="{{ item.get_add_to_cart_url }}">Add to cart</a>#}
{#                                </li>#}
                                <li class="list-inline-item mr-0">
                                    <a class="btn btn-sm btn-outline-dark" href={% url 'core:product_detail' item.slug %}>
                                        <i class="fas fa-expand"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="detail.html">{{ item.title}}</a></h6>
                    <p class="small text-muted">${{ item.price }}</p>
                </div>
            </div>

            {% endfor %}
    {% endif %}

 <script>
$( document ).ajaxComplete(function() {
    $('[data-toggle="tooltip"]').tooltip();
 $('.fa-heart').on('click', function () {
    $(this).tooltip('hide')
})

});
</script>