{% extends 'base.html' %}
{% load i18n %}


{% block head_title %}{{ userprofile.user.username.title }}'Profile{% endblock %}

{% block content %}
<div class="container">
         <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">{{ userprofile.user.username.title }}</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <br>
        <br>
<div class="text-center">
    <h4 class="">{% trans "UPDATE YOUR PROFILE" %}</h4>
   </div>
     <br>
    <div class="col-lg-8 col-sm-10 col-11 mx-auto py-5 px-lg-4 ">
    <form id="form" method="Post"  enctype="multipart/form-data" cities-url={% url 'load_cities' %} action="">

    {% csrf_token %}
        <div class="row">
        {% for field in form %}
        <div class="col-lg-6 form-group ">
        <label class="text-small text-dark" >{{ field.label.upper }}</label>
        {{ field }}
        <span class="text-primary ">{{ field.errors }}</span>

            </div>

        {% endfor %}


            <div class="col-lg-12 form-group">
            <button class="btn btn-block btn-primary rounded mt-4" type="submit">Update</button>
             </div>

        </div>

    </form>
    </div>
    </div>
    <br>
    <br>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>


    </script>
{% endblock %}