{% extends 'base.html' %}
{% block head_title %}
{{ sub_cat_name }}
{% endblock %}

{% block content %}


<div class="page-holder">
{% include 'shop_snippet.html' %}
      <!-- SHOP LISTING-->
      <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0 rounded pt-1">
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 mb-2 mb-lg-0">
            <p class="text-small text-muted mb-0">{{ sub_cat_name }}</p>
          </div>
          <div class="col-lg-6">
            <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
              <li class="list-inline-item text-small text-dark mr-3">Sort by : </li>
              <li  class="list-inline-item text-small text-muted mr-3"><a id="priceDescend" class="text-decoration-none text-muted" href="/">Price: Descending</a></li>
              <li class="list-inline-item text-small text-muted mr-3"><a id="priceAscend" class="text-decoration-none text-muted" href="/">Price: Ascending</a></li>
{#              <li class="text-small text-muted">Sort by : </li>#}
{#                <li class="list-inline-item mr-1">#}
{#                <select class="selectpicker ml-auto" name="sorting" data-width="200" data-style="bs-select-form-control" data-title="Default sorting">#}
{#                  <option value="default">Default sorting</option>#}
{#                  <option value="popularity">Popularity</option>#}
{#                  <option value="low-high">Price: Low to High</option>#}
{#                  <option value="high-low">Price: High to Low</option>#}
{#                </select>#}
{#              </li>#}
            </ul>
          </div>
        </div>
        <div class="row">
        {% if items %}
            {% for item in items %}
            <!-- PRODUCT-->
          <div class="prods col-xl-4 col-lg-4 col-sm-6 mt-4 border-bottom border-grey">
            <div class="product text-center">
                <div class="position-relative mb-3">
                 <div class="badge text-white badge-">
                    </div>
                <a class="d-block" href={{ item.get_item_detail_url }}>
                    <img class="img-fluid w-100 rounded" src={{ item.image.url }} alt="...">
                </a>
                <div class="product-overlay">
                    <ul class="mb-0 list-inline">

                  <li class="list-inline-item m-0 p-0">
                      <a class="wish btn-lg "  id="id{{ item.pk }}"  href={% url 'core:add_remove_to_wishlist' item.slug %} >
                          {% if request.user in item.wishlist.iterator %}
                            <i data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Remove from wishlist" class="fa fa-heart text-danger"></i>
                          {% else %}
                             <i data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Add to wishlist" class="far fa-heart text-dark"></i>
                          {% endif %}
                      </a>
                  </li>
                        <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-outline-dark" href={{ item.get_item_detail_url }}>
                                <i class="fas fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <h6><a class="reset-anchor" href="Product_detail.html">{{ item.title}}</a></h6>
            <p class="small text-muted">${{ item.price }}</p>
        </div>
        </div>
            {% endfor %}
        </div>
        {% else %}

            <div class="text-center mx-auto">
            <br><br><br>
            <br><br><br>
            <h3 class="">Nothing to display</h3>
            </div>
        {% endif %}
                <!-- PAGINATION-->
{#                <nav aria-label="Page navigation example">#}
{#                  <ul class="pagination justify-content-center justify-content-lg-end">#}
{#                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
{#                    <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#                  </ul>#}
{#                </nav>#}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}


    <br><br>
