{% extends 'base.html' %}
{% block head_title %}{{ request.user.username.title }}'s Wishlist {% endblock %}
{% block content %}

<div class="container">
     <section class="py-5 bg-light">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
          <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">Wishlist</h1>
          </div>
          <div class="col-lg-6 text-lg-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <br>
    <br>


{% if items %}

        <br><br>
    <div class="row">
{% for item in items %}

     <div id="id{{ item.pk }}" class="prod col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
            <div class="position-relative mb-3">
                <div class="badge text-white badge-">
                </div>
                <a class="d-block" href={% url 'core:product_detail' item.slug %}>
                    <img class="img-fluid w-100" src={{ item.image.url }} alt="...">
                </a>
                <div class="product-overlay">
                    <ul class="mb-0 list-inline">

                  <li  class="list-inline-item m-0 p-0">
                      <a   class="userWish btn-lg "  href={% url 'core:add_remove_to_wishlist' item.slug %}>
                            <i data-toggle="tooltip" data-placement="top"  title="Remove item" class="fa fa-trash text-danger"></i>
                       </a>
                  </li>
                        <li class="list-inline-item m-0 p-0">
                            <a class="btn btn-sm btn-dark" href="{{ item.get_add_to_cart_url }}">Add to cart</a>
                        </li>
                        <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-outline-dark" href="#productView"
                               data-toggle="modal">
                                <i class="fas fa-expand"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <h6><a class="reset-anchor" href="detail.html">{{ item.title}}</a></h6>
            <p class="small text-muted">${{ item.price }}</p>
            <hr>
        </div>
    </div>


{% endfor %}
    </div>
        {% else %}

     <h5 class="mx-auto text-center">There are not items currently in your wishlist</h5>
    <br><br>

    {% endif %}

    </div>
        <br><br>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $('.fa-trash').tooltip()
    })

    $('.userWish').on('click', function (e) {
        e.preventDefault()
        const url = $(this).attr('href')
        const item_id = $('.prod').attr('id')
        $.ajax({
                url: url,
                success: function () {
                $('#'+item_id).hide()
                location.reload()

            }
        }
    )
})


</script>
{% endblock %}